<div id="grupos" ng-controller="gruposController" class="ng-cloak" ng-init="init()" ng-cloak > 

  <div class="container">
    <titulo-pagina>grupos</titulo-pagina>
    <p>(Ver también <em>assets/styles/pages/grupos/grupos.less</em>, <em>assets/js/pages/grupos/grupos.page.js</em>, y <em>api/controllers/grupos/view-grupos.js</em>.)</p>
  </div>

</div>

<%- /* Exponer datos de variables del servidor como window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

