<!DOCTYPE html>
<html ng-app="angularjs-app">
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/alertify/alertify.min.css">
    <link rel="stylesheet" href="/dependencies/alertify/bootstrap.min.css">
    <link rel="stylesheet" href="/dependencies/angucomplete-alt/angucomplete-alt.css">
    <link rel="stylesheet" href="/dependencies/angular-moment-picker/dist/angular-moment-picker.min.css">
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap.min.css">
    <link rel="stylesheet" href="/dependencies/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/dependencies/ng-dialog/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="/dependencies/ng-dialog/ngDialog.min.css">
    <link rel="stylesheet" href="/dependencies/ui-grid/ui-grid.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-cloak>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <!--TEMPLATES END-->


    <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/dependencies/sails/sails.io.js"></script>
    <script src="/dependencies/jquery/jquery-3.3.1.min.js"></script>
    <script src="/dependencies/angular/angular.min.js"></script>
    <script src="/dependencies/moment/min/moment.min.js"></script>
    <script src="/dependencies/alertify/alertify.min.js"></script>
    <script src="/dependencies/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="/dependencies/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
    <script src="/dependencies/angular-moment-picker/dist/angular-moment-picker.min.js"></script>
    <script src="/dependencies/angular/angular-locale_es-mx.js"></script>
    <script src="/dependencies/angular/angular-sanitize.min.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
    <script src="/dependencies/lodash/dist/lodash.min.js"></script>
    <script src="/dependencies/moment/locale/es.js"></script>
    <script src="/dependencies/ng-dialog/ngDialog.min.js"></script>
    <script src="/dependencies/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/dependencies/pdfobject/pdfobject.min.js"></script>
    <script src="/dependencies/sails/angular-sails.js"></script>
    <script src="/dependencies/ui-bootstrap/ui-bootstrap-custom-tpls-2.5.0.js"></script>
    <script src="/dependencies/ui-grid/ui-grid.min.js"></script>
    <script src="/dependencies/ui-grid/ui-grid.pagination.min.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/directives/sistema/header.directive.js"></script>
    <script src="/js/pages/alumnos/alumnos.page.js"></script>
    <script src="/js/pages/carreras/carreras.page.js"></script>
    <script src="/js/pages/grupos/grupos.page.js"></script>
    <script src="/js/pages/periodos/periodos.page.js"></script>
    <script src="/js/pages/sistema/home.page.js"></script>
    <script src="/js/pages/sistema/login.page.js"></script>
    <script src="/js/pages/usuarios/usuarios.page.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
