<div id="carreras" ng-controller="carrerasController" class="ng-cloak" ng-init="init()" ng-cloak > 

  <div class="container">
    <titulo-pagina>carreras</titulo-pagina>
    <p>(Ver también <em>assets/styles/pages/carreras/carreras.less</em>, <em>assets/js/pages/carreras/carreras.page.js</em>, y <em>api/controllers/carreras/view-carreras.js</em>.)</p>
  </div>

</div>

<%- /* Exponer datos de variables del servidor como window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

