<div id="alumnos" ng-controller="alumnosController" class="ng-cloak" ng-init="init()" ng-cloak > 

  <div class="container">
    <titulo-pagina>alumnos</titulo-pagina>
    <p>(Ver también <em>assets/styles/pages/alumnos/alumnos.less</em>, <em>assets/js/pages/alumnos/alumnos.page.js</em>, y <em>api/controllers/alumnos/view-alumnos.js</em>.)</p>
  </div>

</div>

<%- /* Exponer datos de variables del servidor como window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

