<header-directive>HOME</header-directive>
<div id="home" ng-controller="homeController" class="ng-cloak" ng-init="init()" ng-cloak> 
  <div class="container">
    <titulo-pagina>home</titulo-pagina>
    <p>(Ver también <em>assets/styles/pages/sistema/home.less</em>, <em>assets/js/pages/sistema/home.page.js</em>, y <em>api/controllers/sistema/view-home.js</em>.)</p>
  </div>

</div>

<%- /* Exponer datos de variables del servidor como window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

