<div id="periodos" ng-controller="periodosController" class="ng-cloak" ng-init="init()" ng-cloak > 

  <div class="container">
    <titulo-pagina>periodos</titulo-pagina>
    <p>(Ver también <em>assets/styles/pages/periodos/periodos.less</em>, <em>assets/js/pages/periodos/periodos.page.js</em>, y <em>api/controllers/periodos/view-periodos.js</em>.)</p>
  </div>

</div>

<%- /* Exponer datos de variables del servidor como window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

