[ng-cloak] { display: none; }

html, body {
	height: 100%;
	margin: 0;
}

.form-control.invalid, .form-control:invalid {
	border-color: #dc3545;
}

.form-control.valid, .form-control:valid {
	border-color: #2f9cff;
}
/*
███    ███  ██████  ██████   █████  ██
████  ████ ██    ██ ██   ██ ██   ██ ██
██ ████ ██ ██    ██ ██   ██ ███████ ██
██  ██  ██ ██    ██ ██   ██ ██   ██ ██
██      ██  ██████  ██████  ██   ██ ███████
*/
#framePrint {
	width: 100%;
	height: 450px;
	border: 1px solid #666;
}
.scroll {
	max-height: 500px;
	overflow-y: auto;
  }
