<div id="usuarios" ng-controller="usuariosController" class="ng-cloak" ng-init="init()" ng-cloak > 

  <div class="container">
    <titulo-pagina>usuarios</titulo-pagina>
    <p>(Ver también <em>assets/styles/pages/usuarios/usuarios.less</em>, <em>assets/js/pages/usuarios/usuarios.page.js</em>, y <em>api/controllers/usuarios/view-usuarios.js</em>.)</p>
  </div>

</div>

<%- /* Exponer datos de variables del servidor como window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

